*{
    padding: 0px;
    margin: 0px;
}
.usa{
    text-align: center;
     margin-top: 250px;
     justify-content: center;
     align-items: center;
     padding: 100px;
    
}
.frm{ 
    background-color: white;
    border: 2px solid black;
    color: white;
    align-items: center;
    justify-content:  center;
    margin-top: 5px;
    padding: 20px;
}
.button {
        color: blue;
        font-weight: bold;
        background-color:green ;
        align-items: center;
        justify-content: center;
        margin-left: 880px;
        padding: 5px;

}

.img{
    align-items: center;

    margin-top: 50px;
}